[mysqld]
sql-mode="STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION,ONLY_FULL_GROUP_BY"
character-set-server=utf8
innodb_force_recovery=0
innodb_use_native_aio=0
innodb_log_file_size = 512M
innodb_strict_mode = 0