/laradock
/nbproject
/node_modules
/public/hot
/public/storage
/public/vendor
/public/mix-manifest.json
/public_html
/storage/*.key
/storage/api-docs
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
composer.lock
coin-private.pem
coin-sharedkey.encrypted
error.log
package-lock.json
php.exe.stackdump
npm-debug.log
yarn-error.log
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
.env
.env.testing
.phpunit.result.cache